body {
            background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
        }
        
        h1 {
            color: rgb(11,181,255);
      font-family: serif;
            font-weight: bold;
        }
        a{
            text-decoration: underline; 
            color: white;
            font-family: 'Poppins', sans-serif;
    
            font-family: 'Roboto', sans-serif;
        }
        
        p{
            color: white;
            font-family: serif;
        }
        
        img{
           height: 400px; 
           width: 400px;
        }